﻿body {
    background-color: ghostwhite;
    text-align:right;
    position:absolute;
}

/* unvisited link */
a:link {
    color:lightblue;
}

/* visited link */
a:visited {
    color: lightblue;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: red;
}

.p1 {
    font-family: "Arial Nova";
    color: red;
}

.p2 {
    font-family: 'Arial Nova';
    color: lightblue;
}
