
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Gallery</h2>
<div class="img-fluid">
    <img src="~/Images/Harry Kane 1.jpg"  width="200" height="200"/>
</div>


<div class="img-fluid">
    <img src="~/Images/Son 12.jpg" width="200" height="200" />
</div>