
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<h2>1882</h2>
<p>Club formed by boys from Hotspur cricket club and from the local grammar school. The name of 'Hotspur FC' was adopted.</p>


<h2>1883</h2>
<p>Club reorganised under the presidency of Mr John Ripsher. Club colours - navy blue. Matches played on Tottenham marshes.</p>

<h2>1884</h2>
<p>Club re-named 'Tottenham Hotspur Football Club'.</p>

<h2>1885</h2>
<p>First competitive match versus St. Albans in the London Association Cup. Spurs winning 5-2. Colours changed to light blue and white halves. First credit balance nine shillings.</p>

<h2>1962</h2>
<p>Winners of the European Cup Winners' Cup. The first British club to win a major European competition. Jimmy Greaves becomes Spurs' highest League scorer in one season with 37 goals.</p>