
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>History</h2>

<h2>1882</h2>
<p>Club formed by boys from Hotspur cricket club and from the local grammar school. The name of 'Hotspur FC' was adopted.</p>


<h2>1883</h2>
<p>Club reorganised under the presidency of Mr John Ripsher. Club colours - navy blue. Matches played on Tottenham marshes.</p>

<h2>1884</h2>
<p>Club re-named 'Tottenham Hotspur Football Club'.</p>

<h2>1885</h2>
<p>First competitive match versus St. Albans in the London Association Cup. Spurs winning 5-2. Colours changed to light blue and white halves. First credit balance nine shillings.</p>

<h2>1962</h2>
<p>Winners of the European Cup Winners' Cup. The first British club to win a major European competition. Jimmy Greaves becomes Spurs' highest League scorer in one season with 37 goals.</p>


<div class="rte">
    <p>&nbsp;</p>
    <h2>1882</h2>
    <p>Club formed by boys from Hotspur cricket club and from the local grammar school. The name of 'Hotspur FC' was adopted.</p>
    <h2>1883</h2>
    <p>Club reorganised under the presidency of Mr John Ripsher. Club colours - navy blue. Matches played on Tottenham marshes.</p>
    <h2>1884</h2>
    <p>Club re-named 'Tottenham Hotspur Football Club'.</p>
    <h2>1885</h2>
    <p>First competitive match versus St. Albans in the London Association Cup. Spurs winning 5-2. Colours changed to light blue and white halves. First credit balance nine shillings.</p>
    <h2>1887</h2>
    <p>First meeting with Arsenal - then Royal Arsenal. Match abandoned 15 minutes from time 'owing to darkness' with Spurs leading 2-1.</p>
    <h2>1888</h2>
    <p>Spurs move to private ground in Northumberland Park, where the first admission charge of 3d was made.</p>
    <h2>1890</h2>
    <p>Colours changed to red shirts and navy blue shorts.</p>
    <h2>1895</h2>
    <p>Spurs adopt professionalism.</p>
    <h2>1896</h2>
    <p>A record crowd of 6,000 spectators watch the friendly match with Aston Villa. Spurs elected to the Southern League Division One. Club colours changed to chocolate and gold.</p>
    <h2>1897</h2>
    <p>We reach our first Cup Final, losing 0-2 to hosts Wellingborough in the local Charity Cup competition.</p>
    <h2>1898</h2>
    <p>The Club becomes a limited company and a match against Woolwich Arsenal attracts a record crowd of 14,000 spectators. Change of colours to white shirts and blue shorts.</p>
    <h2>1899</h2>
    <p>The Club moves to a new site, originally a market garden. Accommodation for 35,000. Ground almost named 'Gilpin Park' but instead gradually became known as 'White Hart Lane'. First match staged was a friendly versus Notts County - gross receipts £115.</p>
    <h2>1900</h2>
    <p>Success at last - Spurs become Champions of the Southern League.</p>
    <h2>1901</h2>
    <p>Spurs win the FA Cup to become the only non-League club, following the formation of the Football League in 1888, ever to achieve this honour.</p>
    <h2>1908</h2>
    <p>Entry secured to the Second Division of the Football League.</p>
    <h2>1909</h2>
    <p>Promotion to First Division gained at first attempt.</p>
    <h2>1915</h2>
    <p>Relegation to Second Division.</p>
    <h2>1920</h2>
    <p>Promoted again at first attempt with 70 points, a record under the old system of two points for a win.</p>
    <h2>1921</h2>
    <p>Second FA Cup triumph, Spurs beating Wolverhampton Wanderers 1-0 at Stamford Bridge.</p>
    <h2>1928</h2>
    <p>Relegation to Second Division.</p>
    <h2>1933</h2>
    <p>Promotion again, this time as Division Two runners-up.</p>
    <h2>1934</h2>
    <p>Building of the East Stand completed.</p>
    <h2>1935</h2>
    <p>Relegation to Second Division.</p>
    <h2>1938</h2>
    <p>The existing crowd record of 75,038 spectators established for the visit of Sunderland in the sixth round of the FA Cup.</p>
    <h2>1950</h2>
    <p>Promotion to the First Division.</p>
    <h2>1951</h2>
    <p>Football League Champions for the first time.</p>
    <h2>1961</h2>
    <p>Football League Champions and winners of the FA Cup. The first club to complete the 'Double' since Preston North End and Aston Villa did so in 1889 and 1897 respectively.</p>
    <h2>1962</h2>
    <p>Winners again of the FA Cup.</p>
    <h2>1963</h2>
    <p>Winners of the European Cup Winners' Cup. The first British club to win a major European competition. Jimmy Greaves becomes Spurs' highest League scorer in one season with 37 goals.</p>
    <h2>1967</h2>
    <p>FA Cup winners for the fifth time.</p>
    <h2>1971</h2>
    <p>Winners of the Football League Cup.</p>
    <h2>1972</h2>
    <p>Winners of the UEFA Cup.</p>
    <h2>1973</h2>
    <p>Winners of the Football League Cup. The first club to have won the trophy twice.</p>
    <h2>1974</h2>
    <p>First English club to have played in three major European finals.</p>
    <h2>1977</h2>
    <p>Relegation to Second Division.</p>
    <h2>1978</h2>
    <p>Promotion again secured at first attempt.</p>
    <h2>1980</h2>
    <p>Old West Stand demolished to make way for new modern structure.</p>
    <h2>1981</h2>
    <p>FA Cup winners for the sixth time. Steve Perryman sets a new Club record of League appearances by passing Pat Jennings' previous record total of 472.</p>
    <h2>1982</h2>
    <p>New West Stand opened. FA Cup winners for the seventh time in the Club's Centenary year.</p>
    <h2>1983</h2>
    <p>By finishing fourth in the League, qualified for the UEFA Cup for the first time since season 1973/74. First football club to float shares on the London Stock Exchange.</p>
    <h2>1984</h2>
    <p>Winners of the UEFA Cup for the second time.</p>
    <h2>1985</h2>
    <p>Playing strip changed to white shirts and white shorts.</p>
    <h2>1986</h2>
    <p>Steve Perryman transferred to Oxford United after making a record 655 League appearances for Spurs.</p>
    <h2>1987</h2>
    <p>Spurs reach eighth FA Cup Final. Clive Allen sets a new Club record with 49 goals in a single season. Kit returns to white shirts and navy shorts.</p>
    <h2>1988</h2>
    <p>First million plus signing Paul Stewart from Manchester City for £1.5 million.</p>
    <h2>1989</h2>
    <p>East Stand refurbished.</p>
    <h2>1991</h2>
    <p>FA Cup winners for eighth time and back in European competition.</p>
    <h2>1992</h2>
    <p>Founder members of the new FA Premier League.</p>
    <h2>1994</h2>
    <p>'The Shelf' becomes an all-seater enclosure.</p>
    <h2>1995</h2>
    <p>New South Stand completed.</p>
    <h2>1996</h2>
    <p>New Rights Issue raises £10.9 million to redevelop North Stand, complete hospitality areas in South Stand and reconstruct pitch.</p>
    <h2>1998</h2>
    <p>New North Stand completed. Increased capacity to 36,257.</p>
    <h2>1999</h2>
    <p>Winners of the League Cup for the third time.</p>
    <h2>2001</h2>
    <p>ENIC complete takeover, Daniel Levy becomes chairman.</p>
    <h2>2006</h2>
    <p>Finish fifth in the Premier League, our best placing since its inception, to secure UEFA Cup football.</p>
    <h2>2007</h2>
    <p>Celebrate our 125th anniversary by achieving another fifth-place finish in the Premier League.</p>
    <h2>2008</h2>
    <p>Win the League Cup for the fourth time and the first team to win the trophy at the new Wembley Stadium.</p>
    <h2>2009</h2>
    <p>Reach the League Cup Final for the seventh time, but lose on penalties.</p>
    <h2>2010</h2>
    <p>Finish in a Premier League best of fourth place to secure Champions League qualification for the first time in the club’s history.</p>
    <h2>2011</h2>
    <p>Reach the quarter-finals of the Champions League at the very first attempt.</p>
    <h2>2012</h2>
    <p>Finish fourth once again in the Premier League. Move into our new state-of-the-art Training Centre at Enfield.</p>
    <h2>2013</h2>
    <p>Achieve a best-ever Premier League tally of 72 points but finish fifth in the division. Gareth Bale joins Real Madrid for a world record transfer fee.</p>
    <h2>2014</h2>
    <p>Mauricio Pochettino is appointed our new Head Coach in May.</p>
    <h2>2015</h2>
    <p>Reach the League Cup Final for the eighth time.</p>
    <h2>2016</h2>
    <p>Achieve a best-ever finish in the Premier League, ending the season in third place and losing just six times, a club record in the division.</p>
    <h2>2017</h2>
    <p>Finish a club-best second in the Premier League, with a record 86 points and losing only four games. Play our last ever game at White Hart Lane, winning 2-1 against Manchester United on May 14. Set a new club attendance record of 85,512 v Bayer Leverkusen in Champions League at Wembley.</p>
    <h2>2018</h2>
    <p>Play all our home matches at Wembley Stadium while our new arena is being built in Tottenham. Qualify for the Champions League for the third successive season with a third-place finish in the league.</p>
    <h2>2019</h2>
    <p>Move into our new world-class stadium, with the first senior game against Crystal Palace on 3 April. Reach the Champions League Final for the first time in our history and qualify for next season’s competition, finishing fourth in the Premier League. Jose Mourinho appointed Head Coach in November 2019.</p>
    <h2>2020</h2>
    <p>All football is suspended for three months (March to June) due to COVID-19. The season resumes and we finish sixth, qualifying for the Europa League. Gareth Bale rejoins the Club on loan from Real Madrid in September, 2020.</p>
    <h2>2021</h2>
    <p>Ryan Mason takes over as Interim Head Coach from Jose Mourinho in April. We reach the League Cup Final and finish seven in the Premier League, qualifying for Europe again. Fans return in May.</p>
</div>