
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<p>
    While the Carabao Cup is not the number one priority for Tottenham Hotspur, the team really needs to beat Wolves and get right. Part of that getting right is finding the balance between enough defense to hold down a dangerous Wolverhampton team and putting out enough offense to score the goals necessary to win the game.

    With balance, winning, and getting right in mind, here is the XI Nuno Espirito Santo is going to start for Spurs.

</p>

<img src="~/Images/Harry Kane 1.jpg" width="200" height="200" />

<p>
    A big part of the problem thus far with Spurs is the lack of goals and when your top scorer has not scored seven matches into the season that is a problem. Whether the issues with Kane are related to the transfer that never happened or something else, the team needs to get Kane firing again.

    Ultimately, nothing makes Harry Kane happier than scoring goals and when he is not even taking shots, those goals will never come.

    Ideally, these non-league competitions would be a great platform to score a handful against some minnow as Brentford did to Oldham Athletic on Tuesday. However, Tottenham drew another Premier League side, so it means taking a new squad to Wolverhampton to beat the Wanderers one more time.
</p>
<img src="~/Images/Son 12.jpg" width="200" height="200" />
<div id="post-2459" class="post-2459 page type-page status-publish hentry"><header class="entry-header"><h1 class="entry-title">Premier League Table</h1></header><div class="entry-content"><p><iframe loading="lazy" src="https://www.fctables.com/england/premier-league/iframe/?type=table&amp;lang_id=2&amp;country=67&amp;template=10&amp;team=195775&amp;timezone=Europe/London&amp;time=12&amp;po=1&amp;ma=1&amp;wi=1&amp;dr=1&amp;los=1&amp;gf=1&amp;ga=1&amp;gd=1&amp;pts=1&amp;ng=0&amp;form=1&amp;width=1000&amp;height=900&amp;font=Helvetica&amp;fs=17&amp;lh=34&amp;bg=FFFFFF&amp;fc=333333&amp;logo=1&amp;tlink=0&amp;ths=1&amp;thb=1&amp;thba=FFFFFF&amp;thc=000000&amp;bc=dddddd&amp;hob=f5f5f5&amp;hobc=ebe7e7&amp;lc=333333&amp;sh=0&amp;hfb=1&amp;hbc=3bafda&amp;hfc=FFFFFF" width="100%" height="900" frameborder="0" scrolling="no"></iframe></p><div style="text-align: center;"></div>
<script type="text/javascript">(function(){var XHR = ( "onload" in new XMLHttpRequest() ) ? XMLHttpRequest : XDomainRequest;var xhr = new XHR();var url = "https://www.spursnetwork.com/wp-admin/admin-ajax.php?action=ajax-hits-counter-increment&post_id=2459&t=" + ( parseInt( new Date().getTime() ) ) + "&r=" + ( parseInt( Math.random() * 100000 ) );xhr.open("GET", url, true);xhr.setRequestHeader( "Cache-Control", "no-cache" );xhr.setRequestHeader( "Content-Type", "application/json" );xhr.timeout = 60000;xhr.send();xhr.onreadystatechange = function(){if( this.readyState != 4 ){return;}if( this.status && this.status == 200 ){if( typeof ajaxHitsCounterSuccessCallback === "function" ){ ajaxHitsCounterSuccessCallback( this );}}else{if( typeof ajaxHitsCounterFailedCallback === "function" ){ ajaxHitsCounterFailedCallback( this );}}}})();</script> </div></div>