
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Home</h2>

<p>
    While the Carabao Cup is not the number one priority for Tottenham Hotspur, the team really needs to beat Wolves and get right. Part of that getting right is finding the balance between enough defense to hold down a dangerous Wolverhampton team and putting out enough offense to score the goals necessary to win the game.

    With balance, winning, and getting right in mind, here is the XI Nuno Espirito Santo is going to start for Spurs.

</p>

<img src="~/Images/Harry Kane 1.jpg" width="200" height="200" />

<p>
    A big part of the problem thus far with Spurs is the lack of goals and when your top scorer has not scored seven matches into the season that is a problem. Whether the issues with Kane are related to the transfer that never happened or something else, the team needs to get Kane firing again.

    Ultimately, nothing makes Harry Kane happier than scoring goals and when he is not even taking shots, those goals will never come.

    Ideally, these non-league competitions would be a great platform to score a handful against some minnow as Brentford did to Oldham Athletic on Tuesday. However, Tottenham drew another Premier League side, so it means taking a new squad to Wolverhampton to beat the Wanderers one more time.
</p>
<img src="~/Images/Son 12.jpg" width="200" height="200" />