
@{
    ViewBag.Title = "Squad";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Squad</h2>

<table class="standard_tabelle" cellpadding="3" cellspacing="1">

    <tbody>
        <tr>
            <th colspan="7" class="gross"><b>Goalkeeper</b></th>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/joe-hart/" title="Joe Hart">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/50309.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">12</span></td>
            <td class="hell"><a href="/player_summary/joe-hart/" title="Joe Hart">Joe Hart</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">19/04/1987</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/hugo-lloris/" title="Hugo Lloris">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/36826.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">1</span></td>
            <td class="dunkel"><a href="/player_summary/hugo-lloris/" title="Hugo Lloris">Hugo Lloris</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/16.gif" width="18" height="12" hspace="2" title="France">
            </td>
            <td class="dunkel">France</td>
            <td class="dunkel" align="center">26/12/1986</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/alfie-whiteman/" title="Alfie Whiteman">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/332592.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">41</span></td>
            <td class="hell"><a href="/player_summary/alfie-whiteman/" title="Alfie Whiteman">Alfie Whiteman</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">02/10/1998</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Defender</b></th>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/toby-alderweireld/" title="Toby Alderweireld">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/133604.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">4</span></td>
            <td class="dunkel"><a href="/player_summary/toby-alderweireld/" title="Toby Alderweireld">Toby Alderweireld</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/5.gif" width="18" height="12" hspace="2" title="Belgium">
            </td>
            <td class="dunkel">Belgium</td>
            <td class="dunkel" align="center">02/03/1989</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/serge-aurier/" title="Serge Aurier">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/170429.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">24</span></td>
            <td class="hell"><a href="/player_summary/serge-aurier/" title="Serge Aurier">Serge Aurier</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/78.gif" width="18" height="12" hspace="2" title="Ivory Coast">
            </td>
            <td class="hell">Ivory Coast</td>
            <td class="hell" align="center">24/12/1992</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/cameron-carter-vickers/" title="Cameron Carter-Vickers">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/311687.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">38</span></td>
            <td class="dunkel"><a href="/player_summary/cameron-carter-vickers/" title="Cameron Carter-Vickers">Cameron Carter-Vickers</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/151.gif" width="18" height="12" hspace="2" title="USA">
            </td>
            <td class="dunkel">USA</td>
            <td class="dunkel" align="center">31/12/1997</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/dennis-cirkin/" title="Dennis Cirkin">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/433517.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">49</span></td>
            <td class="hell"><a href="/player_summary/dennis-cirkin/" title="Dennis Cirkin">Dennis Cirkin</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">06/04/2002</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/ben-davies_2/" title="Ben Davies">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/199621.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">33</span></td>
            <td class="dunkel"><a href="/player_summary/ben-davies_2/" title="Ben Davies">Ben Davies</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/55.gif" width="18" height="12" hspace="2" title="Wales">
            </td>
            <td class="dunkel">Wales</td>
            <td class="dunkel" align="center">24/04/1993</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/eric-dier/" title="Eric Dier">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/179970.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">15</span></td>
            <td class="hell"><a href="/player_summary/eric-dier/" title="Eric Dier">Eric Dier</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">15/01/1994</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/matt-doherty_2/" title="Matt Doherty">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/191388.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">2</span></td>
            <td class="dunkel"><a href="/player_summary/matt-doherty_2/" title="Matt Doherty">Matt Doherty</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/22.gif" width="18" height="12" hspace="2" title="Ireland">
            </td>
            <td class="dunkel">Ireland</td>
            <td class="dunkel" align="center">16/01/1992</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/marcel-lavinier/" title="Marcel Lavinier">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/370001.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">55</span></td>
            <td class="hell"><a href="/player_summary/marcel-lavinier/" title="Marcel Lavinier">Marcel Lavinier</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/39.gif" width="18" height="12" hspace="2" title="Portugal">
            </td>
            <td class="hell">Portugal</td>
            <td class="hell" align="center">16/12/2000</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/reguilon/" title="Reguilón">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/284180.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">3</span></td>
            <td class="dunkel"><a href="/player_summary/reguilon/" title="Reguilón">Reguilón</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/48.gif" width="18" height="12" hspace="2" title="Spain">
            </td>
            <td class="dunkel">Spain</td>
            <td class="dunkel" align="center">16/12/1996</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/joe-rodon/" title="Joe Rodon">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/308501.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">14</span></td>
            <td class="hell"><a href="/player_summary/joe-rodon/" title="Joe Rodon">Joe Rodon</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/55.gif" width="18" height="12" hspace="2" title="Wales">
            </td>
            <td class="hell">Wales</td>
            <td class="hell" align="center">22/10/1997</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/danny-rose/" title="Danny Rose">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/60093.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">26</span></td>
            <td class="dunkel"><a href="/player_summary/danny-rose/" title="Danny Rose">Danny Rose</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">02/07/1990</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/davinson-sanchez/" title="Davinson Sánchez">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/257370.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">6</span></td>
            <td class="hell"><a href="/player_summary/davinson-sanchez/" title="Davinson Sánchez">Davinson Sánchez</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/63.gif" width="18" height="12" hspace="2" title="Colombia">
            </td>
            <td class="hell">Colombia</td>
            <td class="hell" align="center">12/06/1996</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/japhet-tanganga/" title="Japhet Tanganga">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/339228.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">25</span></td>
            <td class="dunkel"><a href="/player_summary/japhet-tanganga/" title="Japhet Tanganga">Japhet Tanganga</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">31/03/1999</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Midfielder</b></th>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/dele-alli/" title="Dele Alli">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/204618.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">20</span></td>
            <td class="hell"><a href="/player_summary/dele-alli/" title="Dele Alli">Dele Alli</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">11/04/1996</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/alfie-devine/" title="Alfie Devine">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/504681.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">54</span></td>
            <td class="dunkel"><a href="/player_summary/alfie-devine/" title="Alfie Devine">Alfie Devine</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">01/08/2004</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/pierre-emile-hoejbjerg/" title="Pierre-Emile Højbjerg">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/189374.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">5</span></td>
            <td class="hell"><a href="/player_summary/pierre-emile-hoejbjerg/" title="Pierre-Emile Højbjerg">Pierre-Emile Højbjerg</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/9.gif" width="18" height="12" hspace="2" title="Denmark">
            </td>
            <td class="hell">Denmark</td>
            <td class="hell" align="center">05/08/1995</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/nile-john/" title="Nile John">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/458879.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">57</span></td>
            <td class="dunkel"><a href="/player_summary/nile-john/" title="Nile John">Nile John</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">06/03/2003</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/giovani-lo-celso/" title="Giovani Lo Celso">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/317683.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">18</span></td>
            <td class="hell"><a href="/player_summary/giovani-lo-celso/" title="Giovani Lo Celso">Giovani Lo Celso</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/58.gif" width="18" height="12" hspace="2" title="Argentina">
            </td>
            <td class="hell">Argentina</td>
            <td class="hell" align="center">09/04/1996</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/dilan-markanday/" title="Dilan Markanday">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/401868.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">56</span></td>
            <td class="dunkel"><a href="/player_summary/dilan-markanday/" title="Dilan Markanday">Dilan Markanday</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">20/08/2001</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/tanguy-ndombele/" title="Tanguy NDombèlé">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/361936.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">28</span></td>
            <td class="hell"><a href="/player_summary/tanguy-ndombele/" title="Tanguy NDombèlé">Tanguy NDombèlé</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/16.gif" width="18" height="12" hspace="2" title="France">
            </td>
            <td class="hell">France</td>
            <td class="hell" align="center">28/12/1996</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/moussa-sissoko/" title="Moussa Sissoko">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/87880.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">17</span></td>
            <td class="dunkel"><a href="/player_summary/moussa-sissoko/" title="Moussa Sissoko">Moussa Sissoko</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/16.gif" width="18" height="12" hspace="2" title="France">
            </td>
            <td class="dunkel">France</td>
            <td class="dunkel" align="center">16/08/1989</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/oliver-skipp/" title="Oliver Skipp">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/368226.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">29</span></td>
            <td class="hell"><a href="/player_summary/oliver-skipp/" title="Oliver Skipp">Oliver Skipp</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">16/09/2000</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/harry-winks/" title="Harry Winks">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/227127.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">8</span></td>
            <td class="dunkel"><a href="/player_summary/harry-winks/" title="Harry Winks">Harry Winks</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">02/02/1996</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Forward</b></th>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/gareth-bale/" title="Gareth Bale">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/60075.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">9</span></td>
            <td class="hell"><a href="/player_summary/gareth-bale/" title="Gareth Bale">Gareth Bale</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/55.gif" width="18" height="12" hspace="2" title="Wales">
            </td>
            <td class="hell">Wales</td>
            <td class="hell" align="center">16/07/1989</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/steven-bergwijn/" title="Steven Bergwijn">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/268327.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">23</span></td>
            <td class="dunkel"><a href="/player_summary/steven-bergwijn/" title="Steven Bergwijn">Steven Bergwijn</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/21.gif" width="18" height="12" hspace="2" title="Netherlands">
            </td>
            <td class="dunkel">Netherlands</td>
            <td class="dunkel" align="center">08/10/1997</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/carlos-vinicius/" title="Carlos Vinícius">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/396760.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">45</span></td>
            <td class="hell"><a href="/player_summary/carlos-vinicius/" title="Carlos Vinícius">Carlos Vinícius</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/60.gif" width="18" height="12" hspace="2" title="Brazil">
            </td>
            <td class="hell">Brazil</td>
            <td class="hell" align="center">25/03/1995</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/jack-clarke_2/" title="Jack Clarke">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/411450.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">47</span></td>
            <td class="dunkel"><a href="/player_summary/jack-clarke_2/" title="Jack Clarke">Jack Clarke</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">23/11/2000</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/harry-kane/" title="Harry Kane">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/179293.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">10</span></td>
            <td class="hell"><a href="/player_summary/harry-kane/" title="Harry Kane">Harry Kane</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">28/07/1993</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/erik-lamela/" title="Érik Lamela">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/144613.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">11</span></td>
            <td class="dunkel"><a href="/player_summary/erik-lamela/" title="Érik Lamela">Érik Lamela</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/58.gif" width="18" height="12" hspace="2" title="Argentina">
            </td>
            <td class="dunkel">Argentina</td>
            <td class="dunkel" align="center">04/03/1992</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/lucas-moura_3/" title="Lucas Moura">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/173836.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">27</span></td>
            <td class="hell"><a href="/player_summary/lucas-moura_3/" title="Lucas Moura">Lucas Moura</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/60.gif" width="18" height="12" hspace="2" title="Brazil">
            </td>
            <td class="hell">Brazil</td>
            <td class="hell" align="center">13/08/1992</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/dane-scarlett/" title="Dane Scarlett">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/456619.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">44</span></td>
            <td class="dunkel"><a href="/player_summary/dane-scarlett/" title="Dane Scarlett">Dane Scarlett</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">24/03/2004</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/heung-min-son/" title="Heung-min Son">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/163347.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464">7</span></td>
            <td class="hell"><a href="/player_summary/heung-min-son/" title="Heung-min Son">Heung-min Son</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/184.gif" width="18" height="12" hspace="2" title="South Korea">
            </td>
            <td class="hell">South Korea</td>
            <td class="hell" align="center">08/07/1992</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Manager</b></th>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/ryan-mason/" title="Ryan Mason">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/130580.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464"></span></td>
            <td class="dunkel"><a href="/player_summary/ryan-mason/" title="Ryan Mason">Ryan Mason</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">13/06/1991</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Ass. Manager</b></th>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/nigel-gibbs/" title="Nigel Gibbs">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/42152.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464"></span></td>
            <td class="hell"><a href="/player_summary/nigel-gibbs/" title="Nigel Gibbs">Nigel Gibbs</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">20/11/1965</td>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/ledley-king/" title="Ledley King">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/12115.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464"></span></td>
            <td class="dunkel"><a href="/player_summary/ledley-king/" title="Ledley King">Ledley King</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="dunkel">England</td>
            <td class="dunkel" align="center">12/10/1980</td>
        </tr>
        <tr>
            <td class="hell" align="center" width="40">
                <a href="/player_summary/chris-powell/" title="Chris Powell">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/10052.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="hell" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464"></span></td>
            <td class="hell"><a href="/player_summary/chris-powell/" title="Chris Powell">Chris Powell</a></td>
            <td class="hell" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/12.gif" width="18" height="12" hspace="2" title="England">
            </td>
            <td class="hell">England</td>
            <td class="hell" align="center">08/09/1969</td>
        </tr>
        <tr>
            <th colspan="7" class="gross"><b>Goalkeeper-Coach</b></th>
        </tr>
        <tr>
            <td class="dunkel" align="center" width="40">
                <a href="/player_summary/michel-vorm/" title="Michel Vorm">
                    <img src="https://s.hs-data.com/bilder/spieler/klein/15908.jpg?fallback=png" width="30" title="">
                    <!--
                    </td-->
                </a>
            </td>
            <td class="dunkel" align="center"><span class="kleine_schrift" style="font-weight: bold; color: #646464"></span></td>
            <td class="dunkel"><a href="/player_summary/michel-vorm/" title="Michel Vorm">Michel Vorm</a></td>
            <td class="dunkel" align="center">
                <img src="https://s.hs-data.com/bilder/flaggen_neu/21.gif" width="18" height="12" hspace="2" title="Netherlands">
            </td>
            <td class="dunkel">Netherlands</td>
            <td class="dunkel" align="center">20/10/1983</td>
        </tr>
    </tbody>
</table>